<a href="https://colab.research.google.com/github/KarthikeyanBM/Projects/blob/main/IOT_domain_proj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
sns.set_style("whitegrid")
plt.style.use("fivethirtyeight")

In [3]:
df = pd.read_csv("framingham.csv")
df.head()

,female,age,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,...,Family History,unexplained prenetal loss,Large Child or Birth Default,PCOS,Sys BP,Dia BP,Hemoglobin,Sedentary Lifestyle,Prediabetes,Class Label(GDM /Non GDM)
0,1,39,0.0,0,0,0,195.0,106.0,70.0,26.97,...,0,0,0,0,102.0,69,12.0,0,0,0
1,0,46,0.0,0,0,0,250.0,121.0,81.0,28.73,...,0,0,0,0,101.0,63,12.4,0,0,0
2,1,48,0.0,0,0,0,245.0,127.5,80.0,25.34,...,0,0,0,0,118.0,79,14.3,0,0,0
3,0,61,0.0,0,1,0,225.0,150.0,95.0,28.58,...,0,0,0,0,99.0,70,15.0,0,0,0
4,0,46,0.0,0,0,0,285.0,130.0,84.0,23.10,...,0,0,0,0,116.0,65,15.0,0,0,0

In [4]:
pd.set_option("display.float", "{:.2f}".format)
df.describe()

,female,age,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,...,Family History,unexplained prenetal loss,Large Child or Birth Default,PCOS,Sys BP,Dia BP,Hemoglobin,Sedentary Lifestyle,Prediabetes,Class Label(GDM /Non GDM)
count,3525.00,3525.00,3481.00,3525.00,3525.00,3525.00,3483.00,3525.00,3525.00,3506.00,...,3525.00,3525.00,3525.00,3525.00,1820.00,3525.00,3525.00,3525.00,3525.00,3525.00
mean,0.43,49.60,0.03,0.01,0.31,0.02,237.31,132.22,82.88,25.80,...,0.50,0.36,0.36,0.26,135.76,81.54,13.96,0.45,0.29,0.39
std,0.49,8.56,0.17,0.07,0.46,0.15,44.85,21.91,11.80,4.06,...,0.50,0.48,0.48,0.44,22.74,11.38,1.86,0.50,0.46,0.49
min,0.00,32.00,0.00,0.00,0.00,0.00,107.00,83.50,50.00,15.54,...,0.00,0.00,0.00,0.00,90.00,60.00,8.80,0.00,0.00,0.00
25%,0.00,42.00,0.00,0.00,0.00,0.00,207.00,117.00,75.00,23.08,...,0.00,0.00,0.00,0.00,122.00,74.00,12.70,0.00,0.00,0.00
50%,0.00,49.00,0.00,0.00,0.00,0.00,234.00,128.00,82.00,25.35,...,0.00,0.00,0.00,0.00,132.00,81.00,14.00,0.00,0.00,0.00
75%,1.00,56.00,0.00,0.00,1.00,0.00,264.00,143.50,90.00,28.09,...,1.00,1.00,1.00,1.00,153.00,86.00,15.00,1.00,1.00,1.00
max,1.00,70.00,1.00,1.00,1.00,1.00,696.00,295.00,142.50,56.80,...,1.00,1.00,1.00,1.00,185.00,124.00,18.00,1.00,1.00,1.00